* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
}
body {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}
.container {
  background: #333;
  padding: 20px;
  border-radius: 5px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
input {
  width: 100%;
  border-radius: 5px;
  border: none;
  text-align: right;
  padding: 10px 20px;
  font-size: 1.3rem;
  background: #222;
  color: #ddd;
}
.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 100%;
}
button {
  padding: 3px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ddd;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
button:hover {
  filter: brightness(0.8);
}
button:last-child {
  grid-column-start: 3;
  grid-column-end: 5;
}
.oth {
  background: #555;
}
.num {
  background: #777;
}
.res {
  background: #900;
}
.sub {
  background: #0054b5;
}
p {
  color: #999;
}
a {
  color: #00b2b5;
}